.nav-bar {
    display: flex;
    justify-content: space-evenly;
    background-color: yellow;
    color: white;
}

.nav-bar h1:hover {
    background-color: black;
    color: white;
    transform: scale(1.2);
}

a {
    text-decoration: none;
    color: black;
}

.stock-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stock-info {
    border: 1px solid black;
}

.stock-info h2 {
    border: 1px solid black;
}

.single-stock:hover {
    background-color: yellow;
    transform: scale(1.2);
}

.stock {
    display: flex;
    flex-direction: column;
    align-items: center;
}